.dark-theme {
    color: #FFFFFF;
    background-color: #110038;
}

.dark-theme .logo {
    background-image: url("./../../public/images/guifos_logo_dark_temp.png");
}

.dark-theme .nav-bar {
    height: 25px;
    background: linear-gradient(218deg, rgba(238,62,254,1) 0%, rgba(46,50,251,1) 100%);
    border: 1px solid #fff;
    border-bottom: 1px solid #110038;
}

.dark-theme .button-active {
    background-color: #EE3EFE;
    box-shadow: 0px 0px 0px 1px #110038;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #A72CB3;
    border-left: 1px solid #A72CB3;
}

.dark-theme .button-disabled {
    border-right: 1px solid #B4B4B4;
    border-bottom: 1px solid #808080;
    box-shadow: 0px 0px 0px 1px #5d5d5d;
}

.dark-theme-inactive {
    background-color: #110038;
}

.dark-theme .box-header {
    background: linear-gradient(218deg, rgba(238,62,254,1) 0%, rgba(46,50,251,1) 100%);
}

.dark-theme .box {
    border: 3px solid #FFFFFF;
    background-color: #B4B4B4;
    border-right: 3px solid #B4B4B4;
    border-bottom: 3px solid #B4B4B4;
}

.dark-theme .text-box {
    padding: 5px;
    box-sizing: border-box;
    background: #FFF;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #A72CB3;
    border-bottom: 2px solid #A72CB3;
    box-shadow: 0px 0px 0px 1px #000000;
}

.dark-theme .card-see-more {
    background-color: #2E32FB;
    box-shadow: 0px 0px 0px 1px #4C2F99;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #2124B3;
    border-right: 1px solid #2124B3;
    color: #FFFFFF;
}