body {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

a {
    text-decoration: none;
}

.nav-bar {
    height: 25px;
}

.flex-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding-top: 50px;
    width: 90vw;
    margin: auto;
}

.back {
    display: flex;
    align-items: center;
}

.back img {
    margin-right: 15px;
}

.logo {
    width: 105px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link {
    margin-left: 20px;
    padding: 8px;
}

.button-wrapper {
    position: relative;
    display: flex;
}

.button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.header-button {
    width: 144px;
}

.header-dropdown {
    width: 36px;
    margin: 0;
}

.header-dropdown-container .button {
    margin: 0;
}

.header-dropdown-container {
    position: absolute;
    top: 38px;
    left: 20px;
    width: 185px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}

.hover-underline {
    text-decoration: underline;
}

.box-header {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.box-header img {
    width: 16px;
}

.search-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.search-wrapper {
    width: 100%;
}

.search-bar {
    margin: 15px;
    padding: 10px;
    height: 50px;
    flex: 1;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1em;
}

.search-button{
    margin-right: 15px;
    width: 100px;
    justify-content: space-around;
}

.search-icon {
    height: 25px;
    width: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.search-suggestion-wrapper {
    width:  90vw;
    position: absolute;
    top: 108px;
    left: -3px;
    box-sizing: border-box
}

.search-suggestion {
    height: 36px;
    margin: 10px;
    padding-left: 10px;
    width: calc(100% - 165px);
    display: flex;
    align-items: center;
}

.search-suggestion img {
    width: 20px;
    transform: rotate(180deg);
    margin: 0 10px;
}

.cards-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.card-header {
    display: flex;
    align-items: space-between;
}

.card {
    width: 20vw;
    height: 20vw;
    padding: 2px;
    background-color: #E6E6E6;
    overflow: hidden; 
    margin-right: 3vw; 
}

.card:nth-child(4) {
    margin-right: 0,
}

.card-content {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.card-content img {
    height: 100%;
}

.card-see-more {
    width: 80px;
    position: absolute;
    bottom: 35px;
    left: 10px;
}

.card-see-more-text {
    padding: 3px;
}

.results-wrapper {
    margin-top: 65px;
}

.results-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.results-thumb {
    height: 20vw;
    width: 20vw;
    margin-top: 3vw;
    margin-right: 3vw;
}

.results-thumb:nth-child(4n+4) {
    margin-right: 0;
}

.gallery-container {
    margin-top: 65px;
}

.card img:hover {
    border: 1px dotted #000000;
}

.results-thumb img:hover {
    border: 1px dotted #000000;
}

.results-thumb:hover {
    box-sizing: border-box;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #B4B4B4;
    border-bottom: 3px solid #B4B4B4;
}

/* Upload */

h2 {
    font-size: 16px;
    line-height: 22px;
}

.record-button {
    margin: 0;
}

.accent {
    font-style: italic;
    font-weight: bold;
}

.upload-box-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.upload-intro {
    flex: 1;
    margin: 20px 0 20px 70px;
    box-sizing: content-box;
    position: relative;
}

.retro-icon {
    position: absolute;
    top: 15px;
    left: -45px;
}

.upload-button-wrapper {
    display: flex; 
    justify-content: flex-end;
    margin: 36px;
}

.upload-video-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.video-stream {
    width: 100%;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

video, .video-preview {
    width: 100%;
    height: auto;
}

.record-button-wrapper {
    display: flex; 
    justify-content: space-between;
    margin: 16px;
}

.record-button-container {
    display: flex;
}

.timer-container {
    padding: 5px;
    height: 36px;
    width: 125px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1em;
    background: #FFF;
    display: flex;
    align-items: center;
    text-align: center;
}

.video-upload-message {
    background-color: #FFF;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    margin: 20px;
    display: flex;
    width: 250px;
    height: 20px;
}

.progress-bar-item {
    flex: 1;
}

.share-modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-modal {
    width: 550px;
    height: 250px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.share-button-wrapper {
    padding-right: 20px;
}

.share-button {
    margin: 0 20px 20px 0;
    padding: 5px;
    width: 150px;
}

.share-img {
    height: 200px;
    flex: 1;
    overflow: hidden;
    margin-right: 20px;
    text-align: center;
}

.share-done {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.gray {
    filter: grayscale(1)
}

.copy-success {
    position: absolute;
    width: 200px;
    height: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.hidden {
    display: none;
}